<html>
    <body>
        <center>
            <h1> Combined Cycle Power Plant Dashboard </h1>
            <hr><hr>
            <br><br>
            <form action = "/predict" method="post">
                Ambient Temperature: <input type="text" name="at"><br><br>
                Ambient Pressure: <input type="text" name="ap"><br><br>
                Vaccum: <input type="text" name="v"><br><br>
                Relative Humidity: <input type="text" name="rh"><br><br>
                <input type="submit"><br><br>
            </form>
            <br><br>
            <hr><p> Designed by KPRIET </p><hr>
        </center>
    </body>
</html>